Django==1.10.2
argparse==1.2.1
click==6.6
django-classy-settings==2.0.1
django-dotenv==1.4.1
-e git://github.com/mbylstra/django-wham.git@72f753303b9ec9d0b9ed55b0bcf5d61173383cd0#egg=django_wham-origin/django-1.10
psycopg2==2.6.2
requests==2.11.1
wsgiref==0.1.2
